body{
    font-family: roboto;
    cursor:pointer ;
}
p{
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color:#1f2937 ;
    color: #e5e7eb;
    padding: 20px 200px 140px 200px;
    font-size: 18px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 0;
}
.header-logo{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.header-section{
    display: flex;
    gap:30px;
}
.header-section div{
    width: 450px;
}
.div1{
    margin-right: auto;
}
.awesome-heading{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.div1 button{
    background-color: #3882f6;
    border: none;
    margin: 12px 0px;
    padding: 7px 35px;
    border-radius: 6px;
    color: white;
    font-size: 19px;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #979797;
    height: 200px;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 20px 200px 140px 200px;
}
.section1 .p1{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.ul2{
    display: flex;
    align-items: center;
    gap: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:150px;
    gap: 7px;
    color:#7e838d ;
}
.container .image{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 18px;
    background-color: white;
}


article{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    background-color:#e5e7eb ;
    padding: 120px 500px 140px 500px;
}
.author{
    font-size: 28px;
    font-weight: 700;
    margin-left: auto
}

.section2 ,
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 500px 140px 500px;
}
.action-div{
    display: flex;
    align-items: center;
    gap: 60px;
    color: white;
    background-color: #3882f6;
    padding: 70px 170px; 
}
.action-heading{
    font-size: 28px;
    font-weight: 700;
}
footer{
    padding: 20px 200px;
    color: white;
    background-color:#1f2937 ;
}